body.index{
	background:#CDCBCC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
	.categorias{
		background-color:#ffffff;
		text-align: center;
		padding-top: 35px;
		padding-right: 0px;
		padding-left: 0px;

		.categoria{
			background: #FFFFFF;
			margin-right: 10px;
			color: #000000;
			font-size: 20px;
			border-style: none;
			width: 110px;

			&.selecionado{
				border-bottom: 12px solid #E95316;
			}

			&:hover{
				border-bottom: 12px solid #E95316;
			}
		}
	}

	.hr2{
			border: 1px solid #cdcbcc;
			margin-top: 0px;
		}

	.hr{
			border: 1px solid #cdcbcc;			
		}

	.videos{
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.itens{
		padding-left: 35px;
    	padding-right: 35px;
	}

	.lista{
    	padding-top: 35px;
    	padding-bottom: 35px;
	}

	.destaque{
		color: #065C7B;
		font-weight: bold;
		margin-bottom: 0px;

	}

	.detalhes{
		color: #878786;
		margin-top: 0px;
		margin-bottom: 0px;

	}

	.playlists{
		//display: none;
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.titulo{
		font-size: 20px;
		font-weight: bold;
		padding-left: 35px;
	}

	.nome{
		font-size: 22px;
		font-weight: bold;
		color: #065C7B;
		margin-bottom: 0px;
    	margin-top: 0px;
   
	}

	.canais{
		//display: none;
		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;

		.icone{
			width:70px;
		}

		.inscritos{
			color: #878786;
			font-weight: bold;
	
		}

		.inscricao{
			margin-top: 20px;
			.inscrever{
				color: #065C7B;
		
			}
		}				
	}
}