.main.main{
	background:#CDCBCC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 20px;
	
	.categorias{
		background-color:#ffffff;
		text-align: center;
		padding-top: 35px;
		padding-right: 0px;
		padding-left: 0px;

		.categoria{
			background: #FFFFFF;
			margin-right: 10px;
			color: #000000;
			font-size: 20px;
			border-style: none;
			width: 110px;

			&.selecionado{
				border-bottom: 12px solid #E95316;
			}

			&:hover{
				border-bottom: 12px solid #E95316;
			}
		}

		.hr2{
			border: 1px solid #cdcbcc;
			margin-top: 0px;
		}
	}

	

	.hr{
			border: 1px solid #cdcbcc;			
		}

	.videos{
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;

		.bx-wrapper .bx-viewport {
	left: -5px;
	height: 210px !important;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
	}

	.lista{
    	padding-top: 35px;
    	padding-bottom: 35px;
	}

	.canais{
		display: block;
		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;

		.bx-wrapper .bx-viewport {
	/*-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	background: #fff;*/
	left: -5px;
	height: 210px !important;

	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

	.itens{
		padding-left: 35px;
    	padding-right: 35px;
	}

.nome{
		font-size: 22px;
		font-weight: bold;
		color: #065C7B;
		margin-bottom: 0px;
    	margin-top: 0px;
   
	}

		.icone{
			width:70px;
		}

		.inscritos{
			color: #878786;
			font-weight: bold;
	
		}

		.inscricao{
			margin-top: 20px;
			.inscrever{
				color: #065C7B;
		
			}
		}				
	}

	.destaque{
		color: #065C7B;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.detalhes{
		color: #878786;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.playlists{
		display: block;
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;

		.quantidade{
			color: #fff;
			width: 80px;
    		height: 116.364px;
    		background-color: #065c7b;
    		position: absolute;
    		opacity: 0.8;
    		right: 0;
    		text-align: center;
    		font-size: 20px;
		}

		.bx-wrapper  {
	    margin-bottom: 40px;
}

		.bx-wrapper .bx-viewport {
		left: -5px;
		height: 170px !important;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
	}

	.titulo{
		font-size: 20px;
		font-weight: bold;
		padding-left: 35px;
	}

}