main.meusvideos{
	background:#CDCBCC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	@media all and (min-width: 960px) {
    	body{
        	font-size: 18px;
    	}
	}
 
	@media all and (max-width: 959px) and (min-width: 600px) {
    	body{
        	font-size: 16px;
    	}
	}
 
	@media all and (max-width: 599px) and (min-width: 320px) {
    	body{
        	font-size: 12px;
        	background-color: red;
    	}
 	}

		.parte{
		background-color: #fff;
		padding-right: 0px;
    	padding-left: 0px;
    	    margin-bottom: 10px;
	}

	.grup{
			padding-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			font-size: 12px;
		}

		.label{
			color: #000;
		}

		[type="radio"]:checked + label {
			font-size: 0.9rem;
			color: #000;
		}

	.categorias{
		background-color:#ffffff;
		text-align: center;
		padding-top: 35px;
		padding-right: 0px;
		padding-left: 0px;

		.categoria{
			background: #FFFFFF;
			margin-right: 1px;
			color: #000000;
			font-size: 20px;
			border-style: none;
			width: 145px;

			&.selecionado{
				border-bottom: 12px solid #E95316;
			}

			&:hover{
				border-bottom: 12px solid #E95316;
			}
		}
	}

	.hr2{
			border: 1px solid #cdcbcc;
			margin-top: 0px;
		}

	.conteudo{
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.item{
		background-color: #065C7B;
		padding-top: 10px;
		padding-bottom: 15px;

	}

	.sobre{
  		//margin-top: 40px;
		margin-left: 40px;
		margin-right: 40px;
		/*border-bottom: thin #cdcbcc solid;
		border-left: thin #cdcbcc solid;
		border-right: thin #cdcbcc solid;
		height: 447px;*/

	}

	.lista{
    	padding-top: 40px;
    	padding-bottom: 25px;
	}

	.adicionar{
		    margin-top: 0px;
    background: #e9e8e8;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
		//display: none;

	}

	.editar{
		text-align: justify;
	    margin-top: 12px;	    
    background: #e9e8e8;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
		//display: none;

	}
	.ou{
		padding: 10px;
		color: #000;
		font-size: 14px;
	}

	.textarea{
		width:84%;
		height: 100px;
		background-color: #fff;
		border-color: #fff;
	}

	.categor{
		width:170px;
		height:31px;
	}

	.escolher{
		border-top: 1px solid #cdcbcc;
		overflow-y: scroll;
		margin-bottom: 0px;
		height: 180px;
		    padding-top: 8px;
		        overflow-x: hidden;

	}

	.campo{
			background: #FFFFFF;
			border-bottom: 0px solid #9e9e9e;
			width:84%;
    		height:27px;
    		margin-right: 15px;
    		margin-bottom: 0px;

    		&.pesquisa {
    			width:70%;
    			border: 1px solid #cdcbcc;
    			margin-right: 5px;
    		}

    		&.nome-playlist{
    			border: 1px solid #cdcbcc;
    			margin-right: 5px;
    			width: 279px;
    		}
		}

	.url{
		background: #FFFFFF;
		border-bottom: 0px solid #9e9e9e;
		width:54.5%;
    	height:27px;
    	margin-right: 15px;
	}

	.principal{
		font-size: 25px;
		font-weight: bold;
		padding-left: 74px;
		color: #fff;
		margin-bottom: 0px;
	}

	.status{
		padding: 20px;
		&.carregando {
			color: #e95316;
		}
		&.publicado{
			color: #558b2f;
		}
		&.inesperado{
			color: #9e9e9e;
		}
		&.excluir{
			padding-left: 9px;
			padding-right: 9px;
			padding-top: 15px;
			color: #9e9e9e;
			cursor: pointer;
		}
		&.versionamento {
			color: #ffd740;
		}
	}

	.mensagem{
		background-color: #e9e8e8; 
		text-align: center; 
		padding: 30px;
		//display: none;
	}

	.processo{
		padding: 0px;
	}

	.fase{
		color: #065c7b; 
		margin: 0px;
		word-break: break-all;
	}

	.separador{
		padding: 0px; 
		margin-top: 15px; 
		&.um{
			margin-right: -70px; 
			margin-left: -28px;
		}
		&.dois{
			margin-right: -28px; 
			margin-left: -70px;
		}
	}

	.ordem{
		padding-left: 15px; 
		padding-right: 15px; 
		padding-top: 3.5px; 
		padding-bottom: 3.5px; 
		font-size: 40px;  
		font-weight: bold; 
		border: 1px solid #065c7b;

		&.um{
			color: #e95316;
		}
		&.dois{
			color: #cddc39;
		} 
		&.tres{
			color: #81d4fa;
		}
		&.quatro{
			color: #43a047;
		}
	}

	.mensagem-descricao{
		color: #065c7b; 
		margin-top: 0px; 
		margin-bottom: 20px;
	}

	.close{
		color: #065c7b; 
		cursor: pointer; 
		border: 1px solid #065c7b; 
		border-radius: 5px; 
		padding: 3px;
		&:hover{
			color: #fff;
			background-color: #065C7B;
		}
	}

	.mensagem-texto{
		font-size: 25px; 
		color: #065c7b; 
		font-weight: bold; 
		margin: 0px;
	}

	.submeter{
		padding-left: 37px;
	}
	.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 14px;
    color: white;
    background-color: #e95316;
    display: inline-block;
    width:170px;
    height:28px;
    border: 3px solid #e95316;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

	input[type=text]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label{
        //color: white;
    }

    input[type=text]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        //color: white;
        border-bottom: 0px solid white;
        box-shadow: 0 1px 0 0 white;
    }


		.infoVideo {
			margin-bottom: 3px;
			font-size: 14px;
			margin-top: 12px;

			&.desabilitado{
				color: #878786;
			}
		}
	.botaoAdd{
		color: #065c7b;
		float: right;
		margin-top: 0px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
.botao4{
			background: transparent;
			color: #e95316;
			border: 2px solid #e95316;
			border-radius: 10px;
			
    		height:30px;
    		
    		margin-left: 5px;
    		font-size: 14px;
    		

    		&:hover{
				color: #fff;
				background: #e95316;
				border: 3px solid #e95316;
			}

		}
	.botao3{
			background: transparent;
			color: #065C7B;
			border: 2px solid #065C7B;
			border-radius: 10px;
			width:90px;
    		height:30px;
    		float: right;
    		margin-left: 5px;
    		font-size: 14px;
    		margin-top: 20px;

    		&:hover{
				color: #fff;
				background: #065C7B;
				border: 3px solid #065C7B;
			}

			&.desabili{
				margin-top: 35px;
				color: #878786;
				border: 2px solid #878786;
			}
	
		}

		.espaco{
			margin:230px;
			padding: 11px;
		}

		.espaco2{
			//margin:230px;
			padding: 31px;
		}
			

	.botao2{
			background: transparent;
			color: #065C7B;
			border: 2px solid #065C7B;
			border-radius: 10px;
			width:90px;
    		height:30px;
    		margin-top: 20px;
    		margin-left: 5px;
    		font-size: 14px;
    		float: right;

    		&:hover{
				color: #fff;
				background: #065C7B;
				border: 3px solid #065C7B;
			}
		}

	.botao1{
			background: transparent;
			color: #FFFFFF;
			border: 3px solid #FFFFFF;
			font-size: 20px;
			border-radius: 10px;
			width:110px;
    		height:35px;

    		&:hover{
				color: #065C7B;
				background: #cdcbcc;
				border: 3px solid #cdcbcc;
			}
		}

	.areaExcluir {
		//display: none;
		text-align: center;
		color: #fff;
		background-color: #065c7b;
    width: 93.2%;
    height: 100px;
    position: absolute;
    opacity: 0.9;
	}
	.info{
		padding: 20px;
	}

	.sending{
		background-color: #065c7b;
		padding: 24px;
	}

	.area{
		color: #065c7b;
	}

	.grupo{
		//overflow-y: scroll;
		//height: 274px;
		border-bottom: thin #cdcbcc solid;
	}

	.resultado{
		text-align: center;
	}

	.videos{
		//border-bottom: thin #cdcbcc solid;
		border-top: thin #cdcbcc solid;
		border-bottom: thin #cdcbcc solid;
		margin-bottom: 0px;
    	margin-top: 0px;
    	padding: 10px;
    	text-align: center;
	}

	/*.excluir {
		width: 20px;
		height: 20px;
		background-image:url(../img/excluir.png);	
		background-size: contain;
		background-repeat: no-repeat;	
	}*/

		.icone{
			width: 44px;
			height: 44px;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;

			&.about {
				margin-left: 15px;
			}
		}

}