body.perfil{
	background:#CDCBCC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	.geral{
		//overflow-y: scroll;
		//height: 352px;
	}

	.dados{
		//overflow-y: scroll;
    	//height: 352px;
    	padding: 20px;
    	background-color: #fff;
	}

	.editar{
		float: right;
		cursor: pointer;
	}

	.editaSenha{
		margin-bottom: 0px;
	}


	.areaEditarTudo {
		padding: 18px;
		//text-align: center;
		//margin-top: 12px;
		
		background-color: #e9e8e8;
    	//color: #065C7B;
    	display: none;
	}

	.texto{
		margin-left: 15px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.areaEditar {
		padding-bottom: 12px;
		text-align: center;
		margin-top: 12px;
		background-color: #e9e8e8;
    	color: #065C7B;
    	display: none;
	}

	.areaEditarSenha {
		padding-bottom: 12px;
		//text-align: center;
		margin-top: 12px;
		background-color: #e9e8e8;
    	color: #065C7B;
    	display: none;
	}

	.botao2{
		
			border-radius: 10px;
			width:100px;
    		height:30px;
			margin-left: 10px;

			color: #fff;
				background: #065c7b;
				border: 3px solid #065c7b;

	}

	.botao1{
		background: transparent;
			color: #065C7B;
			border: 2px solid #065C7B;
			border-radius: 10px;
			width:90px;
    		height:30px;
			margin-left: 10px;
			
    		&:hover{
				color: #fff;
				background: #065c7b;
				border: 3px solid #065c7b;
			}
			&.top{
				padding-left: 0px;
    		padding-right: 0px;
				margin-top: 162px;
			}
	}

	.textoSenha{
		margin-bottom: -15px;
    	//margin-left: -136px;
	}

		.campo{
			background: #FFFFFF;
			border-bottom: 0px solid #9e9e9e;
			width:460px;
    		height:27px;
    		margin-right: 15px;
    		margin-bottom: 0px;
    		&.senha{
    			width:220px;
    		}
		}

		.campo2{
			background: #FFFFFF;
			//margin-left: 15px;
			border-bottom: 0px solid #9e9e9e;
			width:460px;
    		height:27px;
    		margin-right: 15px;
    		margin-bottom: 15px;
    		margin-top: 0px;
    		&.senha{
    			width:220px;
    		}
		}

	.retorno{
		color: #065C7B;
	}

	.editarTudo{
		
		border-bottom: thin #cdcbcc solid;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 0px;
		//padding-bottom: 12px;
		padding-top: 12px;
		height: 40px;

	}

	.dadosPessoais{
		border-top: thin #cdcbcc solid;
		border-bottom: thin #cdcbcc solid;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 0px;
		padding-bottom: 12px;
		padding-top: 12px;

	}

	.publicacoes{
    	
    	margin-top: 20px;
    	margin-left: 20px;
	}

	.rad{
		color: #000;
		font-size: 12px;
		&.escolha {
			padding-top: 10px;
		}
	}
	
	.categorias{
		background-color:#ffffff;
		text-align: center;
		padding-top: 35px;
		padding-right: 0px;
		padding-left: 0px;

		.categoria{
			background: #FFFFFF;
			margin-right: 1px;
			color: #000000;
			font-size: 20px;
			border-style: none;
			width: 145px;

			&.selecionado{
				border-bottom: 12px solid #E95316;
			}

			&:hover{
				border-bottom: 12px solid #E95316;
			}
		}
	}

	.hr2{
			border: 1px solid #cdcbcc;
			margin-top: 0px;
		}

	.conteudo{
  		position: relative;
    	background-color: #fff;
    	margin: 0.5rem 0 1rem 0;
    	transition: box-shadow .25s;
    	border-radius: 2px;

    	margin-top: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.item{
		background-color: #065C7B;
		padding-top: 10px;
		padding-bottom: 15px;

	}

	.top{
		margin-top: 0px;
		margin-bottom: 0px;
		color: #065C7B;
		padding-left: 15px;
	}

	.sub{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 15px;
		font-size: 13px;
	}

	.extra{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 15px;
		font-size: 10px;
		color: #878786;
	}

	.sobre{
  		margin-top: 80px;
		margin-left: 40px;
		margin-right: 40px;
		border-bottom: thin #cdcbcc solid;
		border-left: thin #cdcbcc solid;
		border-right: thin #cdcbcc solid;
		background-color: #e9e8e8;

	}

	.not{
		padding-left: 30px;
		padding-right: 30px;
	}

	.notificacao{
		border-top: thin #cdcbcc solid;
		padding-top: 15px;
    	
	}

	.lista{
    	padding-top: 25px;
    	padding-bottom: 25px;
	}

	.nome{
		font-size: 25px;
		font-weight: bold;
		padding-left: 100px;
		color: #065C7B;
		margin-bottom: 0px;
	}

	.principal{
		font-size: 25px;
		font-weight: bold;
		padding-left: 74px;
		color: #fff;
		margin-bottom: 0px;
	}


	.hr{
			border: 1px solid #cdcbcc;
			margin-top: 0px;
    margin-bottom: 0px;			
		}

		.detalhes{
			color: #000;
			&.email{
				padding-left: 100px;
				margin-top: 5px;
			}
			&.numeros{
				padding-left: 494px;
			}
		}


		.area{
			color: #000;
			padding-left: 20px;
			

		}

		.opcao{
			padding-bottom: 5px;
			padding-top: 5px;
			margin-bottom: 10px;
			margin-top: 10px;

			&.ativa{
				border-left: 8px solid #065C7B;
				font-weight: bold;
			}

			&:hover{
				border-left: 8px solid #065C7B;
				font-weight: bold;
			}
		}

		.icone{
			width: 44px;
			height: 44px;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			&.user{
				margin-left: 40px;
			}
			&.about {
				margin-left: 15px;
			}
		}

		.col{
			padding-right: 0px;
			padding-left: 0px;
		}

		.anual{
			border: thin #cdcbcc solid;
		}

		.areaGrafico{
			border: thin #cdcbcc solid;
			height: 262px;
		}

		canvas{
			width: 100%;
		}

		.grafico{	
			margin: 0px auto;
    		width: 215px;
		}

		.areas{
			background-color: #e9e8e8;
			//height: 100%;
			//height: 352px;
		}

		.num{
			padding-top: 0px;
			padding-right: 10px;
			padding-left: 10px;
			color: #065C7B;
			font-size: 50px;
			font-weight: bold;
			text-align: center;
			padding-bottom: 0px;
		}

		.dado{
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 0px;
			text-align: center;
			font-weight: bold;
			color: #065C7B;
			font-size: 20px;
			padding-bottom: 0px;
		}

		.info{
			padding-top: 3px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 0px;
			color: #e95316;
			text-align: center;
		}

		.grupo{
			padding-top: 0px;
			padding-left: 35px;
			padding-right: 10px;
			padding-bottom: 3px;
			font-size: 12px;
		}


	.meu {
    border-top: 0px solid #ddd;
    border-right: 0px solid #ddd;
    border-left: 0px solid #ddd; 
    margin: 0.5rem 0 1rem 0;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
	}

}