body.playlist{
	background-color: #CDCBCC;
  font-family: "Trebuchet MS", Helvetica, sans-serif; 

	.media{

		margin-top: 20px;
		margin-left: 30px;
		margin-right: 30px;
		background-color: #CDCBCC;

		.hr{
			border: 1px solid #cdcbcc;
		}

		.esquerda{
			padding-right: 0px;
		}

  		.exibido{   
    		margin-bottom: 0px;
    		position: relative;
    		margin: 0.5rem 0 1rem 0;
    		transition: box-shadow .25s;
    		border-radius: 2px;
  		}

  		.informacoes{
  			position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #fff;
    		transition: box-shadow .25s;
    		border-radius: 2px;
    		padding-bottom: 12;

    		.nome-canal{
    			margin-top: 5;
    			margin-bottom: 0;
    			color: #065C7B;
          
    			font-weight: bold;
    		}

    		.inscritos{
    			color: #878786;
    			margin-top: 0px;
          
    		}

    		.row{
    			margin-top: 10;
    			margin-bottom: 10;
    		}

  			.icone{
  					width: 55px;
  				}

  			.inscrever{
  				color: #065C7B;
  				float: right;
  				padding-top: 20px;
  			}
  			.feed{
  				width: 35px;
  				padding-left: 15px;
  			}

  			.titulo{
  				padding-top: 7px;
          
  				font-size: 25px;
  				font-weight: bold;
  				padding-left: 15px;
  				padding-right: 15px;
  				margin-top: 0px;
  				margin-bottom: 0px;
  			}
  			.longa{
  				margin-top: 0px;
				color: #878786;
				padding-left: 15px;
				padding-right: 15px;
				display: none;
    		}
  			.descr{
  				margin-top: 0px;
				color: #878786;
				padding-left: 15px;
				padding-right: 15px;
				.small{
    			color: #065C7B;
    			font-size: 2rem;
          
    		}
			}

			.like{
  				margin-top: 0px;
				color: #878786;
				padding-left: 0px;
				padding-right: 15px;
			}
  		}

		.sugeridos{

			position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #065c7b;
    		transition: box-shadow .25s;
    		border-radius: 2px;
     		padding-left: 0px;
     		padding-right: 0px;

     		.ativa{
     			background-color: #033e51;
     		}

     		.item{
     			padding-top: 10;
    			padding-bottom: 10px;
    			margin-bottom: 0;
     		}

     		.info{
     			padding-left: 0px;
     		}

			.botao{
				margin: 0 auto; 
				display: block; 
				width: 20%;
				color: #ffffff;
				margin-bottom: 0px;
    		margin-top: 0px;	
			}

			.section{
				margin-top: 0;
    			padding-left: 10px;
				color: #ffffff;
				font-weight: bold;
				font-size: 16px;
        
				margin-bottom: 0px;
				padding-bottom: 0px;
			}

			.detalhe{
				margin-top: 0;
    			padding-left: 10px;
				color: #ffffff;
				font-size: 13px;
        
				padding-bottom: 15px;
				margin-bottom: 5px;
			}

			.titulo{
				margin-top: 0px;
				margin-bottom: 0px;
				color: #ffffff;
				font-weight: bold;
        
			}

			.descr{
				color: #ffffff;
				font-size: 13px;
				margin-top: 0px;
				margin-bottom: 0px;
        
			}

			
		}
	}



	
}