body.main{

	background-color: #CDCBCC;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  
	.media{

		margin-top: 20px;
		margin-left: 30px;
		margin-right: 30px;
		background-color: #CDCBCC;

		.hr{
			border: 1px solid #cdcbcc;
		}

		.comentario{
			position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #fff;
    		transition: box-shadow .25s;
    		border-radius: 2px;


    		.nome-usuario{
    			color: #065C7B;
    			font-weight: bold;
    		}

    		.coment{
    			margin-top: 0px;	
    		}

    		.tempo{
    			color: #878786;
    		}

    		.user{
    			padding-right: 0px;
    		}

    		.feedback{
    			margin-bottom: 5px;
    			margin-right: 31px;
    		}
    		.section{
				color: #065C7B;
				font-weight: bold;
				font-size: 16px;
				padding-left: 15px;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}
  				.icone{
  					width: 65px;
  					padding-left: 12px;
  					float: right;
  				}

  				.menor{
  					width: 40px;
  				}
  				.textarea{
  					width: 100%;
  					height: 90px;
  					border: 1px solid #065C7B;
					border-radius: 10px;
					margin-bottom: 10px;
  				}

  				.cancelar{					
  					margin-right: 10px;
					background: #FFFFFF;
					color: #CDCBCC;
					border: 3px solid #CDCBCC;
					font-size: 16px; 
					border-radius: 10px;  
					width:116px; 
					height:40px;
					font-weight: bold;
					float: right;
				}

  				.botao{
				margin: auto;
				  
				background: #FFFFFF;
				color: #CDCBCC;
				border: 3px solid #CDCBCC;
				font-size: 16px; 
				border-radius: 10px;  
				width:116px; 
				height:40px;
				font-weight: bold;
				float: right;


				}
  			}

  		.exibido{
  			    padding-left: 10;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #fff;
    		transition: box-shadow .25s;
    		border-radius: 2px;
  		}

  		.informacoes{
  			position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #fff;
    		transition: box-shadow .25s;
    		border-radius: 2px;
    		padding-bottom: 12;

    		.nome-canal{
    			margin-top: 5;
    			margin-bottom: 0;
    			color: #065C7B;
    			font-weight: bold;
    		}

    		.inscritos{
    			color: #878786;
    			margin-top: 0px;
    		}

    		.row{
    			
    			margin-top: 10;
    			margin-bottom: 10;
    		}

  			.icone{
  					width: 55px;
  				}

  			.inscrever{
  				color: #065C7B;
  				float: right;
  				padding-top: 20px;
  			}
  			.feed{
  				width: 35px;
  				padding-left: 15px;
  			}

  			.titulo{
  				padding-top: 7px;
  				font-size: 25px;
  				font-weight: bold;
  				padding-left: 15px;
  				padding-right: 15px;
  				margin-top: 0px;
  				margin-bottom: 0px;
  			}
  			.longa{
  				margin-top: 0px;
				color: #878786;
				padding-left: 15px;
				padding-right: 15px;
				display: none;
    		}
  			.descr{
  				margin-top: 0px;
				color: #878786;
				padding-left: 15px;
				padding-right: 15px;
				.small{
    			color: #065C7B;
    			font-size: 2rem;
    		}
			}

			.like{
  				margin-top: 0px;
				color: #878786;
				padding-left: 0px;
				padding-right: 15px;
			}
  		}

		.sugeridos{

			position: relative;
    		margin: 0.5rem 0 1rem 0;
    		background-color: #fff;
    		transition: box-shadow .25s;
    		border-radius: 2px;
     		padding-left: 0px;
     		padding-right: 0px;

     		.info{
     			padding-left: 0px;
     		}

			.botao{
				right: 0; 
				left: 0; 
				margin: auto; 
				display: block; 
				margin-top: 10px;
				margin-bottom: 10px;
				background: #FFFFFF;
				color: #065C7B;
				border-width: 3px;
				border-style: solid;
				font-size: 16px; 
				border-radius: 10px; 
				border-color: #065C7B; 
				width:125px; 
				height:40px;
				font-weight: bold;
				&:hover{
					color: #FFFFFF;
					background: #065C7B;
				}
			}

			.section{
				margin-top: 0;
    padding-left: 10px;
				color: #065C7B;
				font-weight: bold;
				font-size: 16px;
			}

			.titulo{
				margin-top: 0px;
				margin-bottom: 0px;
				color: #065C7B;
				font-weight: bold;
			}

			.descr{
				color: #878786;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			
		}
	}
}